.card {
  margin-bottom: 2rem;
}

.card h2 {
  color:red;
}

.btn-primary {
  margin: 1rem;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50px;
}

.fa:hover {
    opacity: 0.7;
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  color: white;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

@media all and (max-device-width: 480px)
{
  .card {
    margin: 0 auto;
  }
}

